<!DOCTYPE html>
<html>
  <head>
    <style>
      body,
      a,
      h1,
      p {
        color: white;
      }
      body {
        height: 100%;
      }
      .logo {
        background-color: #ff004d;
      }
    </style>
  </head>
  <body style="background-color: black; margin: 10px;">

    <div class="logo" style="padding:10px">
      <img
        style="width: 5rem"
        src="https://i.pinimg.com/originals/2b/84/68/2b8468d1687a6953a28583227fe91a4f.png"
        alt="Chopper IO Logo"
      />
      <h1>Chopper IO</h1>
    </div>
    <div style="padding: 10px">
        <h3>One Time Password</h3>
        <p>Your One Time Password (OTP) is</p>
        <h1>9854</h1>
        <footer>
          <p>
            <a href="privacy_policy_url">Privacy Policy</a> |
            <a href="terms_of_service_url">Terms of Service</a>
          </p>
          <h5>Made with ❤️ by <span style="color: yellow">DarkKingStar</span></h5>
        </footer>
      </div>
  </body>
</html>
